/Aspose.Video.Cloud.Sdk.Tests/Aspose.Video.Cloud.Sdk.Tests.csproj.user
/Aspose.Video.Cloud.Sdk.Tests/bin
/Aspose.Video.Cloud.Sdk.Tests/obj
/Aspose.Video.Cloud.SDK/Aspose.Video.Cloud.SDK.csproj.user
/Aspose.Video.Cloud.SDK/bin
/Aspose.Video.Cloud.SDK/obj
/packages
/TestResults
/Aspose.Video.Cloud.Sdk.v11.suo
/.vs
sign-keys
*.nuspec
*.Nuget.csproj
*.nupkg
